* {
  margin: 0;
  padding: 0; }

body {
  height: 100vh;
  width: 100%;
  box-sizing: border-box !important;
  font-family: 'Oswald', sans-serif;
  position: relative;
  background: #fff;
  color: #1b1c1e !important; }

@font-face {
  font-family: old_english;
  src: url(/css/OLD.ttf); }

@font-face {
  font-family: nimbus;
  src: url(/css/Nimbus.ttf); }

@font-face {
  font-family: flo;
  src: url(/css/Florens.ttf); }

html {
  font-size: 62.5%; }

.right_content {
  width: 100%;
  height: 100%;
  padding: 1rem 2rem 2rem 2rem;
  position: relative;
  overflow: hidden; }
  @media (max-width: 600px) {
    .right_content {
      padding: 1rem; } }
  .right_content .user_nav {
    width: 100%; }
  .right_content .ball {
    background: linear-gradient(to bottom right, #aa076b, #61045f);
    position: absolute;
    z-index: -1;
    opacity: 0.2; }
    @media (max-width: 600px) {
      .right_content .ball {
        display: none; } }
  .right_content .first_ball {
    height: 60rem;
    width: 60rem;
    border-radius: 10000px;
    filter: blur(80px);
    left: 30%;
    top: -40%; }
  .right_content .second_ball {
    height: 30rem;
    width: 30rem;
    border-radius: 10000px;
    filter: blur(80px);
    right: 10%;
    top: 20%; }
  .right_content .third_ball {
    height: 60rem;
    width: 60rem;
    border-radius: 10000px;
    filter: blur(80px);
    left: -20%;
    bottom: -30%; }

.loader-4 {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-content: center;
  align-items: center; }
  .loader-4 .dbl-spin-1,
  .loader-4 .dbl-spin-2 {
    position: absolute;
    box-sizing: border-box;
    display: block;
    margin: auto;
    border: 3px solid transparent;
    border-radius: 50%; }
  .loader-4 .dbl-spin-1 {
    height: 25px;
    width: 25px;
    border-top: 3px solid #9575cd;
    border-left: 3px solid #9575cd;
    animation: loader-4-dblspin 1.8s linear infinite; }
  .loader-4 .dbl-spin-2 {
    height: 42px;
    width: 42px;
    border-bottom: 3px solid #8946c3;
    border-left: 3px solid #8946c3;
    animation: loader-4-dblspin2 1.2s linear infinite; }

@keyframes loader-4-dblspin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(-720deg); } }

@keyframes loader-4-dblspin2 {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.side_navigation {
  width: 100%;
  box-shadow: 0 0 10px #eeeeee;
  background: #ffffff;
  height: 100%;
  border-radius: 0;
  background: white;
  padding: 10rem 0 2rem 0;
  box-sizing: border-box; }
  .side_navigation .side_nav .org_select {
    padding: 0 2rem; }
    .side_navigation .side_nav .org_select i {
      color: #a0a0a0; }
    .side_navigation .side_nav .org_select select {
      background: none;
      outline: none;
      border: none;
      margin-left: 1rem;
      color: #213f7d;
      font-size: 1.3rem;
      font-weight: 500; }
  .side_navigation .side_nav .menu_btn {
    padding-left: 2rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
    cursor: pointer;
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
    color: #213f7d;
    font-size: 1.3rem;
    font-weight: 500;
    padding-left: 2rem; }
    .side_navigation .side_nav .menu_btn i {
      color: #a0a0a0;
      font-size: 2.2rem;
      margin-right: 1rem; }
  .side_navigation .other_nav-btn {
    display: flex;
    flex-direction: column;
    align-items: flex-start; }
    .side_navigation .other_nav-btn .section_label {
      padding-left: 2rem;
      font-size: 1.1rem;
      font-weight: 700;
      margin-bottom: 2rem;
      margin-top: 3rem;
      color: grey; }
    .side_navigation .other_nav-btn .menu_btn {
      padding-left: 2rem;
      margin-bottom: 2rem;
      cursor: pointer;
      background: none;
      outline: none;
      border: none;
      cursor: pointer;
      color: #213f7d;
      font-size: 1.5rem;
      font-weight: 500;
      padding-left: 2rem; }
      .side_navigation .other_nav-btn .menu_btn i {
        color: #a0a0a0;
        font-size: 2.2rem;
        margin-right: 1rem; }

.nav_header {
  width: 100%;
  box-shadow: 0 0 10px #eeeeee;
  background: #ffffff;
  height: 10%;
  border-radius: 0;
  background: white;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 5; }
  .nav_header .logo {
    height: 3rem;
    margin-left: 2rem; }
  .nav_header .search {
    background: none;
    border: none;
    outline: none;
    padding: 1.5rem 1rem;
    font-size: 1.3rem;
    border: 1px solid #d8d8d8;
    border-radius: 5px;
    margin-bottom: 3rem;
    width: 25%;
    padding: 1rem;
    margin-bottom: 0;
    position: relative; }
    .nav_header .search input {
      background: none;
      outline: none;
      border: none;
      width: 85%; }
    .nav_header .search button {
      background: none;
      outline: none;
      border: none;
      cursor: pointer;
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      width: 15%;
      background: #39cdcc;
      color: #fefefe;
      font-size: 1.6rem; }
  .nav_header .right_elements {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%; }
    .nav_header .right_elements a {
      font-size: 1.4rem;
      margin-right: 2rem;
      color: #213f7d; }
    .nav_header .right_elements .notify {
      background: none;
      outline: none;
      border: none;
      cursor: pointer;
      font-size: 1.8rem;
      margin: 0 3rem 0 4rem; }
    .nav_header .right_elements .user {
      display: flex;
      align-items: center; }
      .nav_header .right_elements .user img {
        height: 3rem;
        width: 3rem;
        object-fit: cover;
        object-position: top;
        border-radius: 50px; }
      .nav_header .right_elements .user .user_btn {
        background: none;
        outline: none;
        border: none;
        cursor: pointer;
        margin-left: 1rem;
        font-size: 1.4rem;
        font-weight: 600;
        color: #213f7d; }

main {
  width: 100%;
  height: 100%; }
  main .sign_in-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr); }
    main .sign_in-container .img_container {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      padding: 2rem 8rem;
      justify-content: space-between;
      align-items: center;
      box-sizing: border-box;
      position: relative; }
      main .sign_in-container .img_container .logo {
        font-size: 4rem;
        font-weight: bold;
        width: 100%; }
      main .sign_in-container .img_container .highlight_img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 53vh;
        width: 90%;
        object-fit: cover; }
    main .sign_in-container .form_container {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
      main .sign_in-container .form_container .greet {
        width: 50%; }
        main .sign_in-container .form_container .greet h1 {
          font-size: 4rem;
          font-weight: 700;
          color: #213f7d; }
        main .sign_in-container .form_container .greet p {
          font-size: 1.7rem;
          margin-top: 1rem;
          color: grey;
          margin-bottom: 7rem; }
      main .sign_in-container .form_container form {
        width: 50%; }
        main .sign_in-container .form_container form .text_input {
          width: 100%; }
          main .sign_in-container .form_container form .text_input input {
            background: none;
            border: none;
            outline: none;
            padding: 1.5rem 1rem;
            font-size: 1.3rem;
            border: 1px solid #d8d8d8;
            border-radius: 5px;
            margin-bottom: 3rem;
            box-sizing: border-box;
            width: 100%; }
        main .sign_in-container .form_container form .forgot {
          background: none;
          outline: none;
          border: none;
          color: #39cdcc;
          font-weight: bold;
          cursor: pointer;
          z-index: 3; }
        main .sign_in-container .form_container form .password {
          display: flex;
          align-items: center;
          background: none;
          border: none;
          outline: none;
          padding: 1.5rem 1rem;
          font-size: 1.3rem;
          border: 1px solid #d8d8d8;
          border-radius: 5px;
          margin-bottom: 3rem;
          width: 100%;
          box-sizing: border-box; }
          main .sign_in-container .form_container form .password input {
            background: none;
            outline: none;
            border: none;
            width: 90%; }
          main .sign_in-container .form_container form .password .show {
            background: none;
            outline: none;
            border: none;
            color: #39cdcc;
            font-weight: 700; }
        main .sign_in-container .form_container form .submit {
          border: none;
          outline: none;
          background: #39cdcc;
          padding: 2rem 0;
          width: 100%;
          margin-top: 3rem;
          font-size: 1.3rem;
          color: #f8f8f8;
          font-weight: bold;
          cursor: pointer;
          border-radius: 10px; }

.dashboard {
  background: #fbfbfb !important;
  display: grid;
  grid-template-columns: 0.23fr 1fr;
  width: 100%;
  height: 100vh; }
  .dashboard .main_content {
    width: 100%;
    height: 100%;
    padding: 15rem 8rem 2rem 8rem;
    box-sizing: border-box;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #213f7d rgba(194, 198, 243, 0.247); }
    @media (max-width: 600px) {
      .dashboard .main_content {
        scrollbar-width: none; } }
    .dashboard .main_content::-webkit-scrollbar {
      width: 4px !important;
      /* width of the entire scrollbar */
      display: none !important; }
    .dashboard .main_content::-webkit-scrollbar-track {
      background: rgba(194, 198, 243, 0.247);
      border: none;
      /* color of the tracking area */ }
    .dashboard .main_content::-webkit-scrollbar-thumb {
      background-color: #36175e;
      /* color of the scroll thumb */
      border-radius: 20px;
      /* roundness of the scroll thumb */ }
    .dashboard .main_content .page_label {
      font-size: 2.5rem;
      font-weight: 500;
      color: #213f7d;
      margin-bottom: 3rem; }
    .dashboard .main_content .container {
      height: 100%; }
      .dashboard .main_content .container .stat_card-container {
        display: flex;
        justify-content: space-between;
        margin-bottom: 3rem; }
        .dashboard .main_content .container .stat_card-container .card {
          width: 24rem;
          box-shadow: 0 0 10px #eeeeee;
          background: #ffffff;
          height: 16rem;
          border-radius: 10px;
          max-height: 16rem;
          padding: 2rem;
          box-sizing: border-box; }
          .dashboard .main_content .container .stat_card-container .card .icon {
            height: 4rem;
            width: 4rem;
            border-radius: 20rem;
            display: flex;
            justify-content: center;
            align-items: center; }
            .dashboard .main_content .container .stat_card-container .card .icon i {
              font-size: 2.5rem; }
          .dashboard .main_content .container .stat_card-container .card .users {
            background: #e018ff1f; }
            .dashboard .main_content .container .stat_card-container .card .users i {
              font-size: 2.5rem;
              color: #df18ff; }
          .dashboard .main_content .container .stat_card-container .card .active_user {
            background: #5618ff1e; }
            .dashboard .main_content .container .stat_card-container .card .active_user i {
              color: #5718ff; }
          .dashboard .main_content .container .stat_card-container .card .loan {
            background: #f55f441e; }
            .dashboard .main_content .container .stat_card-container .card .loan i {
              color: #f55f44; }
          .dashboard .main_content .container .stat_card-container .card .savings {
            background: #ff336618; }
            .dashboard .main_content .container .stat_card-container .card .savings i {
              color: #ff3366; }
          .dashboard .main_content .container .stat_card-container .card .card_info p {
            font-size: 1.3rem;
            color: #545f7d;
            font-weight: 600;
            margin: 2rem 0; }
          .dashboard .main_content .container .stat_card-container .card .card_info .figure {
            font-size: 2rem; }
      .dashboard .main_content .container .table_card {
        width: 100%;
        box-shadow: 0 0 10px #eeeeee;
        background: #ffffff;
        height: auto;
        border-radius: 10px;
        padding: 2rem;
        box-sizing: border-box;
        position: relative; }
        .dashboard .main_content .container .table_card .fl-table {
          border-radius: 5px;
          font-size: 12px;
          font-weight: normal;
          border: none;
          border-collapse: collapse;
          width: 100%;
          max-width: 100%;
          white-space: nowrap; }
          .dashboard .main_content .container .table_card .fl-table thead tr th {
            padding: 2rem 0;
            font-size: 1.3rem;
            color: #545f7d;
            text-align: left;
            font-weight: 700; }
          .dashboard .main_content .container .table_card .fl-table tbody tr:not(:last-of-type) {
            border-bottom: 1px solid #545f7d2d; }
          .dashboard .main_content .container .table_card .fl-table tbody tr td {
            padding: 2rem 0;
            font-size: 1.4rem;
            color: #545f7d;
            text-align: left;
            font-weight: 500; }
            .dashboard .main_content .container .table_card .fl-table tbody tr td span {
              padding: 1rem;
              border-radius: 30rem; }
            .dashboard .main_content .container .table_card .fl-table tbody tr td .inactive {
              background: #545f7d15; }
            .dashboard .main_content .container .table_card .fl-table tbody tr td .pending {
              background: #e9b30018;
              color: #e9b200; }
            .dashboard .main_content .container .table_card .fl-table tbody tr td .blacklist {
              background: #e4033b23;
              color: #e4033b; }
            .dashboard .main_content .container .table_card .fl-table tbody tr td .active {
              background: #39cd631a;
              color: #39cd62; }
            .dashboard .main_content .container .table_card .fl-table tbody tr td .more {
              background: none;
              outline: none;
              border: none;
              cursor: pointer; }
        .dashboard .main_content .container .table_card .filter_card {
          position: absolute;
          left: 2rem;
          top: 7rem;
          width: 25rem;
          box-shadow: 0 0 10px #eeeeee;
          background: #ffffff;
          height: auto;
          border-radius: 5px;
          padding: 3rem 2rem; }
          .dashboard .main_content .container .table_card .filter_card form {
            width: 100%; }
            .dashboard .main_content .container .table_card .filter_card form .text_input label {
              font-size: 1.3rem;
              display: block;
              color: #545f7d;
              margin-bottom: 1rem;
              font-weight: 600; }
            .dashboard .main_content .container .table_card .filter_card form .text_input input,
            .dashboard .main_content .container .table_card .filter_card form .text_input select {
              background: none;
              border: none;
              outline: none;
              padding: 1.5rem 1rem;
              font-size: 1.3rem;
              border: 1px solid #d8d8d8;
              border-radius: 5px;
              margin-bottom: 3rem;
              margin-bottom: 1rem;
              width: 100%;
              box-sizing: border-box; }
            .dashboard .main_content .container .table_card .filter_card form .secondary_btn {
              background: none;
              outline: none;
              border: none;
              cursor: pointer;
              padding: 1rem 2rem;
              font-size: 1.3rem;
              color: #545f7d;
              border: 1px solid #545f7d;
              border-radius: 8px; }
            .dashboard .main_content .container .table_card .filter_card form .primary_btn {
              border-radius: 10px;
              background: none;
              outline: none;
              border: none;
              cursor: pointer;
              border: 1px solid #39cdcc;
              padding: 1rem 2rem;
              font-size: 1.3rem;
              background: #39cdcc;
              color: white; }
      .dashboard .main_content .container .pagination_section {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2rem 0; }
        .dashboard .main_content .container .pagination_section .showing {
          font-size: 1.3rem;
          color: #545f7d; }
          .dashboard .main_content .container .pagination_section .showing select {
            background: none;
            outline: none;
            border: none;
            background: #eee;
            padding: 0.5rem; }
        .dashboard .main_content .container .pagination_section #pagination {
          margin: 0;
          padding: 0;
          text-align: center; }
          .dashboard .main_content .container .pagination_section #pagination li {
            display: inline; }
            .dashboard .main_content .container .pagination_section #pagination li a {
              display: inline-block;
              text-decoration: none;
              padding: 5px 10px;
              color: #000;
              border-radius: 5px;
              -webkit-transition: background-color 0.3s;
              transition: background-color 0.3s;
              font-size: 1.3rem; }
        .dashboard .main_content .container .pagination_section #pagination li a.active {
          background-color: #545f7d;
          color: #fff; }
        .dashboard .main_content .container .pagination_section #pagination li a:hover:not(.active) {
          background-color: #ddd; }

.action_menu {
  display: flex;
  justify-content: space-between;
  align-items: flex-end; }
  .action_menu .left_sec .back {
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
    color: #545f7d;
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    margin-bottom: 1rem; }
  .action_menu .right_sec {
    margin-bottom: 3rem; }
    .action_menu .right_sec .blacklist_btn {
      background: none;
      outline: none;
      border: none;
      cursor: pointer;
      padding: 1rem 2rem;
      font-size: 1.3rem;
      color: #e4033b;
      border: 1px solid #e4033b;
      border-radius: 8px;
      font-weight: 600;
      margin-right: 2rem; }
    .action_menu .right_sec .activate_btn {
      background: none;
      outline: none;
      border: none;
      cursor: pointer;
      padding: 1rem 2rem;
      font-size: 1.3rem;
      color: #39cdcc;
      border: 1px solid #39cdcc;
      border-radius: 8px;
      font-weight: 600; }

.first_capture {
  width: 100%;
  box-shadow: 0 0 10px #eeeeee;
  background: #ffffff;
  height: 21rem;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .first_capture .first_row {
    display: flex;
    padding: 3rem 3rem 0 3rem;
    height: 90%; }
    .first_capture .first_row .image {
      height: 10rem;
      width: 10rem;
      border-radius: 50rem;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #21407d25; }
    .first_capture .first_row .detail_container {
      display: flex;
      height: 10rem;
      align-items: center; }
      .first_capture .first_row .detail_container .col {
        padding: 0 3rem; }
        .first_capture .first_row .detail_container .col .name,
        .first_capture .first_row .detail_container .col .amount {
          font-size: 2.5rem;
          color: #545f7d;
          font-weight: 500; }
        .first_capture .first_row .detail_container .col .ref {
          font-size: 1.2rem;
          color: #545f7d;
          margin-top: 1rem; }
      .first_capture .first_row .detail_container .tier {
        border-left: 1px solid #545f7d5b;
        border-right: 1px solid #545f7d5b;
        height: 90%;
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start; }
        .first_capture .first_row .detail_container .tier p {
          font-size: 1.3rem;
          color: #545f7d;
          font-weight: 600; }
  .first_capture .second_row {
    padding: 0 3rem;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between; }
    .first_capture .second_row .tab_menu {
      background: none;
      outline: none;
      border: none;
      cursor: pointer;
      font-size: 1.4rem;
      padding: 1.5rem 2rem;
      border-bottom: 2px solid transparent;
      color: #545f7d; }
    .first_capture .second_row .active {
      border-bottom: 2px solid #39cdcc;
      color: #39cdcc; }

.other_detail {
  width: 100%;
  box-shadow: 0 0 10px #eeeeee;
  background: #ffffff;
  height: auto;
  border-radius: 4px;
  margin-top: 3rem;
  box-sizing: border-box; }
  .other_detail .container {
    color: #545f7d;
    padding: 3rem; }
    .other_detail .container:not(:last-of-type) {
      border-bottom: 1px solid #545f7d2a; }
    .other_detail .container .row_title {
      font-size: 1.8rem;
      font-weight: 500;
      margin-bottom: 3rem; }
    .other_detail .container .more_detail {
      width: 100%;
      display: flex;
      flex-wrap: wrap; }
      .other_detail .container .more_detail .data {
        width: 20%;
        margin-bottom: 2rem; }
        .other_detail .container .more_detail .data .tag {
          text-transform: uppercase;
          font-size: 1.1rem; }
        .other_detail .container .more_detail .data .data_info {
          font-size: 1.5rem;
          font-weight: 600; }
